<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/src/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script defer src="/src/script.js"></script>
</head>
<body>
    <div class="container">
        <main class="main-content">
            <h1><a href="/index.html">サイトタイトル（未定）</a></h1>
            {% include "navigation.html" %}
            {% block content %}{% endblock %}
        </main>
        <aside class="sidebar">
            <h3>検索</h3>
            <input type="text" id="searchBox" placeholder="本文検索..." onkeyup="fullTextSearch()">
            <div id="searchResults"></div>
            <h3>人気のトピック</h3>
            {{ sidebar_content | safe }}
        </aside>
    </div>
</body>
</html>
