<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WJGGFLMQ19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WJGGFLMQ19');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% if should_index %}
    <meta name="robots" content="index, follow">
    {% else %}
    <meta name="robots" content="noindex, follow">
    {% endif %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="ja_JP">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <link rel="icon" href="/src/favicon.ico">
    <link rel="stylesheet" href="/src/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script defer src="/src/script.js"></script>
</head>
<body>
    <div class="container">
        <main class="main-content">
            <h1><a href="/index.html">ぷちダイアリー（たぶん本家）</a></h1>
            {% include "navigation.html" %}
            {% block content %}{% endblock %}
        </main>
        <aside class="sidebar">
            {% with sidebar_content = sidebar_content %}
            {% include "sidebar.html" %}
            {% endwith %}
        </aside>
    </div>
</body>
</html>
